<h1>Your print has completed successfully</h1>
<p>Hi <%= @print.user.name %>,</p>
<p>Your print of the file "<%= @print.uploaded_file.filename %>" on the printer <%= @print.printer.name %> has completed successfully!</p>
<p>Please come pick it up at your earliest convenience.</p>
<%= frontend_link_to 'Open in MakerRepo Print', '/prints', class: 'btn btn-primary', target: '_blank' %>
